doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    title Squarespace copy
    meta(http-equiv='content-language', content='ru')
    meta(name='description', content='')
    meta(name='keywords', content='')
    // remove for production
    meta(name='robots', content='noindex nofollow')
    // remove for production
    meta(property='og:type', content='website')
    meta(property='og:title', content='')
    meta(property='og:type', content='')
    meta(property='og:image', content='img/title.jpg')
    meta(property='og:description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //
      Mobile Configurations
      ========================================================================
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    //
      fav and icons for Mobile
      ========================================================================
    link(type='image/x-icon', href='favicon.ico', rel='shortcut icon')
    link(href='css/app.css', rel='stylesheet', type='text/css')
  body
    // <div class="wrapper">
    header.header.position-absolute.is--black
      .container-fluid
        .row.no-gutters.align-items-center.justify-content-between
          // <div class="col-12">
          .col-xl-3.col-lg-3.col-md-1.col-2
            a.link.link--logo.is--full.is--fill(href='/')
              svg.squarespace-mark.hidden-lg-up.notranslate(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 30 24', width='30px', height='24px')
                title Squarespace
                path(d='M24.93671,11.30019c-0.38681-0.38681-1.01281-0.38681-1.39961,0l-9.23691,9.23691c-1.31214,1.31214-3.44709,1.31214-4.75855,0.00068c-0.38681-0.38681-1.01281-0.38681-1.39961,0c-0.38681,0.38681-0.38681,1.01281,0,1.39961c2.0837,2.0837,5.47407,2.08302,7.55778-0.00068l9.2369-9.2369C25.32352,12.313,25.32352,11.687,24.93671,11.30019zM28.01613,8.22077c-2.0837-2.0837-5.47408-2.08302-7.55778,0.00068l-9.2369,9.2369c-0.38681,0.38681-0.38681,1.01281,0,1.39961c0.38681,0.38681,1.01281,0.38681,1.39961,0l9.2369-9.2369c1.31214-1.31214,3.4471-1.31214,4.75855-0.00068c1.31214,1.31214,1.31214,3.4471,0,4.75923l-7.43066,7.43066c-0.38681,0.38681-0.38681,1.01281,0,1.39961c0.38681,0.38681,1.01281,0.38681,1.39961,0l7.43066-7.43066C30.09984,13.69553,30.09984,10.30447,28.01613,8.22077zM21.85797,2.06261c-2.0837-2.0837-5.47408-2.08302-7.55778,0.00068l-9.2369,9.2369c-0.38681,0.38681-0.38681,1.01281,0,1.39961s1.01281,0.38681,1.39961,0l9.2369-9.2369c1.31214-1.31214,3.44709-1.31214,4.75855-0.00068c0.38681,0.38681,1.01281,0.38681,1.39961,0C22.24478,3.07541,22.24478,2.44941,21.85797,2.06261zM18.77855,5.14203c-0.38681-0.38681-1.01281-0.38681-1.39961,0l-9.2369,9.2369c-1.31214,1.31214-3.4471,1.31214-4.75855,0.00068c-1.31214-1.31214-1.31214-3.4471,0-4.75923l7.43066-7.43066c0.38681-0.38681,0.38681-1.01281,0-1.39961s-1.01281-0.38681-1.39961,0L1.98387,8.22077c-2.0837,2.0837-2.0837,5.47476,0,7.55846s5.47408,2.08302,7.55778-0.00068l9.2369-9.2369C19.16535,6.15484,19.16535,5.52884,18.77855,5.14203z')
              svg.squarespace-full.hidden-md-down.is--full(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 168 24', width='168px', height='24px')
                title Squarespace
                path(d='M79.5626,5.53063l-5.24026,11.58048h1.33081l1.36326-3.03909h6.25848l1.34703,3.03909h1.39632L80.77798,5.53063H79.5626zM77.52551,12.88971l2.62856-5.84795l2.61171,5.84795H77.52551zM41.8326,10.73783c-2.52935-0.54218-3.12082-1.14987-3.12082-2.23424V8.47052c0-1.03445,0.95272-1.85615,2.44762-1.85615c1.18232,0,2.25046,0.37809,3.31798,1.24845l0.75556-1.00201c-1.1661-0.93587-2.36526-1.41254-4.0411-1.41254c-2.18433,0-3.77781,1.33081-3.77781,3.13767v0.03244c0,1.88921,1.21539,2.74335,3.86016,3.3186c2.41455,0.50911,2.9898,1.11681,2.9898,2.18433v0.03307c0,1.13365-1.01885,1.95472-2.56304,1.95472c-1.59285,0-2.74273-0.54218-3.94189-1.62654l-0.80485,0.95334c1.37947,1.23161,2.87437,1.8393,4.69745,1.8393c2.28353,0,3.9263-1.2809,3.9263-3.25247v-0.03244C45.57796,12.23273,44.39502,11.29623,41.8326,10.73783zM59.77015,11.36174V11.3293c0-3.17073-2.34904-5.91409-5.84795-5.91409s-5.88039,2.77642-5.88039,5.94653v0.03307c0,3.17011,2.34841,5.91346,5.84733,5.91346c1.41317,0,2.64477-0.45983,3.61434-1.21539l1.52734,1.36325l0.88721-0.96894l-1.51112-1.28152C59.26104,14.15438,59.77015,12.79113,59.77015,11.36174zM57.45418,14.40083L55.3023,12.4461l-0.87099,0.96894l2.15188,1.83992c-0.72249,0.54218-1.64277,0.85414-2.661,0.85414c-2.62793,0-4.53399-2.13566-4.53399-4.74737V11.3293c0-2.61233,1.87299-4.71492,4.50092-4.71492c2.62855,0,4.53399,2.13566,4.53399,4.74737v0.03307C58.42312,12.54468,58.07809,13.57913,57.45418,14.40083zM71.26765,12.29824c0,2.51313-1.34704,3.79465-3.46585,3.79465c-2.18494,0-3.51514-1.39632-3.51514-3.87701V5.61237h-1.29774v6.68587c0,3.25247,1.93788,4.99381,4.77981,4.99381c2.875,0,4.79665-1.74135,4.79665-5.09239V5.61237h-1.29774V12.29824zM150.96526,16.10911c-2.52997,0-4.45163-2.08637-4.45163-4.74737V11.3293c0-2.64477,1.90544-4.71492,4.45163-4.71492c1.56042,0,2.64478,0.65698,3.61372,1.57726l0.88721-0.95272c-1.14987-1.08436-2.39833-1.8237-4.4847-1.8237c-3.3835,0-5.8149,2.69406-5.8149,5.94653v0.03307c0,3.30176,2.44762,5.91346,5.76559,5.91346c2.08638,0,3.40034-0.80485,4.5995-2.02024l-0.85414-0.83792C153.57697,15.50141,152.5419,16.10911,150.96526,16.10911zM137.64406,5.53063l-5.24025,11.58048h1.3308l1.36327-3.03909h6.25848l1.34703,3.03909h1.39632l-5.24025-11.58048H137.64406zM135.60698,12.88971l2.62856-5.84795l2.61171,5.84795H135.60698zM159.83484,15.92817v-4.02425h6.2747v-1.18294h-6.2747V6.79531h7.01404V5.61237h-8.31178v11.49875h8.39352v-1.18294H159.83484zM102.27933,11.90392h6.27471v-1.18294h-6.27471V6.79531h7.01405V5.61237h-8.31179v11.49875h8.39352v-1.18294h-7.09579V11.90392zM97.54881,9.06199V9.02955c0-0.90343-0.3288-1.7089-0.88721-2.26731c-0.7225-0.72249-1.85614-1.14987-3.26868-1.14987h-4.94453v11.49875h1.29774v-4.46785h3.28554l3.3342,4.46785h1.59348l-3.53136-4.69808C96.23484,12.08486,97.54881,10.96743,97.54881,9.06199zM89.74613,11.47654V6.81153h3.5482c1.85615,0,2.94051,0.85414,2.94051,2.26731v0.03244c0,1.47868-1.23223,2.36526-2.95673,2.36526H89.74613zM116.6849,10.73783c-2.52998-0.54218-3.12144-1.14987-3.12144-2.23424V8.47052c0-1.03445,0.95271-1.85615,2.44762-1.85615c1.18294,0,2.25046,0.37809,3.31798,1.24845l0.75618-1.00201c-1.16672-0.93587-2.36588-1.41254-4.04109-1.41254c-2.18495,0-3.77843,1.33081-3.77843,3.13767v0.03244c0,1.88921,1.21601,2.74335,3.86016,3.3186c2.41517,0.50911,2.9898,1.11681,2.9898,2.18433v0.03307c0,1.13365-1.01823,1.95472-2.56242,1.95472c-1.59348,0-2.74335-0.54218-3.94251-1.62654l-0.80485,0.95334c1.3801,1.23161,2.87499,1.8393,4.69807,1.8393c2.28353,0,3.92567-1.2809,3.92567-3.25247v-0.03244C120.42963,12.23273,119.24731,11.29623,116.6849,10.73783zM127.9528,5.61237h-4.30376v11.49875h1.29774V13.0538h2.79202c2.44761,0,4.51777-1.28152,4.51777-3.76158V9.25915C132.25656,6.99247,130.54828,5.61237,127.9528,5.61237zM130.94197,9.3415c0,1.51112-1.24846,2.52935-3.15389,2.52935h-2.84131V6.81153h2.90745c1.85614,0,3.08775,0.85414,3.08775,2.49691V9.3415zM18.77845,6.54165c0.38683-0.38683,0.38683-1.01281,0-1.39964c-0.38679-0.38679-1.01281-0.38679-1.3996,0l-9.2369,9.2369c-1.31217,1.31217-3.44709,1.31217-4.75856,0.0007c-1.31213-1.31213-1.31213-3.44709,0-4.75922l7.43067-7.43067c0.38679-0.38683,0.38679-1.01281,0-1.39964c-0.38683-0.38679-1.01281-0.38679-1.39964,0L1.98376,8.22076c-2.08368,2.08372-2.08368,5.47477,0,7.55845c2.08372,2.08372,5.47411,2.08302,7.55779-0.00066L18.77845,6.54165zM5.06321,12.6998c0.38679,0.38679,1.01281,0.38679,1.3996,0l9.2369-9.2369c1.31213-1.31213,3.44709-1.31213,4.75856-0.0007c0.38679,0.38683,1.01281,0.38683,1.3996,0c0.38683-0.38679,0.38683-1.01277,0-1.3996c-2.08368-2.08372-5.47407-2.08302-7.55775,0.0007l-9.2369,9.2369C4.67638,11.68699,4.67638,12.31298,5.06321,12.6998zM24.93661,11.30021c-0.38679-0.38683-1.01281-0.38683-1.3996,0l-9.2369,9.2369c-1.31213,1.31213-3.44709,1.31213-4.75856,0.00066c-0.38679-0.38679-1.01281-0.38679-1.3996,0c-0.38683,0.38683-0.38683,1.01281,0,1.3996c2.08368,2.08372,5.47407,2.08302,7.55775-0.00066l9.2369-9.2369C25.32343,12.31298,25.32343,11.68699,24.93661,11.30021zM20.45826,8.22146l-9.2369,9.2369c-0.38683,0.38679-0.38683,1.01281,0,1.3996c0.38679,0.38683,1.01281,0.38683,1.3996,0l9.2369-9.2369c1.31217-1.31213,3.44709-1.31213,4.75856-0.00066c1.31213,1.31213,1.31213,3.44709,0,4.75922l-7.43067,7.43067c-0.38679,0.38679-0.38679,1.01281,0,1.3996c0.38683,0.38683,1.01281,0.38683,1.39964,0l7.43067-7.43067c2.08368-2.08368,2.08368-5.47473,0-7.55845C25.93233,6.13708,22.54194,6.13774,20.45826,8.22146z')
          .col-xl-6.col-lg-7.col-md-11.col-7.d-flex.justify-content-between.align-items-center
            .dropdown
              a.link.link--small.is--dropdown(href='#')
                span.tour.is--active.hidden-sm-down(data-menu='tour') Tour
                span.menu.is--active.hidden-md-up(data-menu='menu') Menu
                svg.svg-caret-down.is-stroke.notranslate(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 25 13')
                  polyline(points='0 0 12.31 12.31 24.19 0')
              .dropdown__menu(data-drop='tour')
                .dropdown__menu-caret
                ul.dropdown__menu-list
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
              .dropdown__menu(data-drop='menu')
                .dropdown__menu-caret
                ul.dropdown__menu-list
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Websites
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Our Customers
                  li.dropdown__menu-item
                    a.dropdown__menu-link(href='#') Our Customers
            a.link.link--small.hidden-sm-down(href='#') Our Customers
            a.link.link--small.hidden-sm-down(href='#') Support
            .header__divider.hidden-sm-down
            a.link.link--small(href='#') Log In
            button.btn.btn--section.btn--header.hidden-sm-down
              | Create a Site
    main.content
      header.header.position-fixed.is--white
        .container-fluid
          .row.no-gutters.align-items-center.justify-content-between
            // <div class="col-12">
            .col-xl-3.col-lg-3.col-md-1.col-1
              a.link.link--logo.is--full.is--fill(href='/')
                svg.squarespace-mark.hidden-lg-up.is-fill.notranslate(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 30 24', width='30px', height='24px')
                  title Squarespace
                  path(d='M24.93671,11.30019c-0.38681-0.38681-1.01281-0.38681-1.39961,0l-9.23691,9.23691c-1.31214,1.31214-3.44709,1.31214-4.75855,0.00068c-0.38681-0.38681-1.01281-0.38681-1.39961,0c-0.38681,0.38681-0.38681,1.01281,0,1.39961c2.0837,2.0837,5.47407,2.08302,7.55778-0.00068l9.2369-9.2369C25.32352,12.313,25.32352,11.687,24.93671,11.30019zM28.01613,8.22077c-2.0837-2.0837-5.47408-2.08302-7.55778,0.00068l-9.2369,9.2369c-0.38681,0.38681-0.38681,1.01281,0,1.39961c0.38681,0.38681,1.01281,0.38681,1.39961,0l9.2369-9.2369c1.31214-1.31214,3.4471-1.31214,4.75855-0.00068c1.31214,1.31214,1.31214,3.4471,0,4.75923l-7.43066,7.43066c-0.38681,0.38681-0.38681,1.01281,0,1.39961c0.38681,0.38681,1.01281,0.38681,1.39961,0l7.43066-7.43066C30.09984,13.69553,30.09984,10.30447,28.01613,8.22077zM21.85797,2.06261c-2.0837-2.0837-5.47408-2.08302-7.55778,0.00068l-9.2369,9.2369c-0.38681,0.38681-0.38681,1.01281,0,1.39961s1.01281,0.38681,1.39961,0l9.2369-9.2369c1.31214-1.31214,3.44709-1.31214,4.75855-0.00068c0.38681,0.38681,1.01281,0.38681,1.39961,0C22.24478,3.07541,22.24478,2.44941,21.85797,2.06261zM18.77855,5.14203c-0.38681-0.38681-1.01281-0.38681-1.39961,0l-9.2369,9.2369c-1.31214,1.31214-3.4471,1.31214-4.75855,0.00068c-1.31214-1.31214-1.31214-3.4471,0-4.75923l7.43066-7.43066c0.38681-0.38681,0.38681-1.01281,0-1.39961s-1.01281-0.38681-1.39961,0L1.98387,8.22077c-2.0837,2.0837-2.0837,5.47476,0,7.55846s5.47408,2.08302,7.55778-0.00068l9.2369-9.2369C19.16535,6.15484,19.16535,5.52884,18.77855,5.14203z')
                svg.squarespace-full.is--full.hidden-md-down(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 168 24', width='168px', height='24px')
                  title Squarespace
                  path(d='M79.5626,5.53063l-5.24026,11.58048h1.33081l1.36326-3.03909h6.25848l1.34703,3.03909h1.39632L80.77798,5.53063H79.5626zM77.52551,12.88971l2.62856-5.84795l2.61171,5.84795H77.52551zM41.8326,10.73783c-2.52935-0.54218-3.12082-1.14987-3.12082-2.23424V8.47052c0-1.03445,0.95272-1.85615,2.44762-1.85615c1.18232,0,2.25046,0.37809,3.31798,1.24845l0.75556-1.00201c-1.1661-0.93587-2.36526-1.41254-4.0411-1.41254c-2.18433,0-3.77781,1.33081-3.77781,3.13767v0.03244c0,1.88921,1.21539,2.74335,3.86016,3.3186c2.41455,0.50911,2.9898,1.11681,2.9898,2.18433v0.03307c0,1.13365-1.01885,1.95472-2.56304,1.95472c-1.59285,0-2.74273-0.54218-3.94189-1.62654l-0.80485,0.95334c1.37947,1.23161,2.87437,1.8393,4.69745,1.8393c2.28353,0,3.9263-1.2809,3.9263-3.25247v-0.03244C45.57796,12.23273,44.39502,11.29623,41.8326,10.73783zM59.77015,11.36174V11.3293c0-3.17073-2.34904-5.91409-5.84795-5.91409s-5.88039,2.77642-5.88039,5.94653v0.03307c0,3.17011,2.34841,5.91346,5.84733,5.91346c1.41317,0,2.64477-0.45983,3.61434-1.21539l1.52734,1.36325l0.88721-0.96894l-1.51112-1.28152C59.26104,14.15438,59.77015,12.79113,59.77015,11.36174zM57.45418,14.40083L55.3023,12.4461l-0.87099,0.96894l2.15188,1.83992c-0.72249,0.54218-1.64277,0.85414-2.661,0.85414c-2.62793,0-4.53399-2.13566-4.53399-4.74737V11.3293c0-2.61233,1.87299-4.71492,4.50092-4.71492c2.62855,0,4.53399,2.13566,4.53399,4.74737v0.03307C58.42312,12.54468,58.07809,13.57913,57.45418,14.40083zM71.26765,12.29824c0,2.51313-1.34704,3.79465-3.46585,3.79465c-2.18494,0-3.51514-1.39632-3.51514-3.87701V5.61237h-1.29774v6.68587c0,3.25247,1.93788,4.99381,4.77981,4.99381c2.875,0,4.79665-1.74135,4.79665-5.09239V5.61237h-1.29774V12.29824zM150.96526,16.10911c-2.52997,0-4.45163-2.08637-4.45163-4.74737V11.3293c0-2.64477,1.90544-4.71492,4.45163-4.71492c1.56042,0,2.64478,0.65698,3.61372,1.57726l0.88721-0.95272c-1.14987-1.08436-2.39833-1.8237-4.4847-1.8237c-3.3835,0-5.8149,2.69406-5.8149,5.94653v0.03307c0,3.30176,2.44762,5.91346,5.76559,5.91346c2.08638,0,3.40034-0.80485,4.5995-2.02024l-0.85414-0.83792C153.57697,15.50141,152.5419,16.10911,150.96526,16.10911zM137.64406,5.53063l-5.24025,11.58048h1.3308l1.36327-3.03909h6.25848l1.34703,3.03909h1.39632l-5.24025-11.58048H137.64406zM135.60698,12.88971l2.62856-5.84795l2.61171,5.84795H135.60698zM159.83484,15.92817v-4.02425h6.2747v-1.18294h-6.2747V6.79531h7.01404V5.61237h-8.31178v11.49875h8.39352v-1.18294H159.83484zM102.27933,11.90392h6.27471v-1.18294h-6.27471V6.79531h7.01405V5.61237h-8.31179v11.49875h8.39352v-1.18294h-7.09579V11.90392zM97.54881,9.06199V9.02955c0-0.90343-0.3288-1.7089-0.88721-2.26731c-0.7225-0.72249-1.85614-1.14987-3.26868-1.14987h-4.94453v11.49875h1.29774v-4.46785h3.28554l3.3342,4.46785h1.59348l-3.53136-4.69808C96.23484,12.08486,97.54881,10.96743,97.54881,9.06199zM89.74613,11.47654V6.81153h3.5482c1.85615,0,2.94051,0.85414,2.94051,2.26731v0.03244c0,1.47868-1.23223,2.36526-2.95673,2.36526H89.74613zM116.6849,10.73783c-2.52998-0.54218-3.12144-1.14987-3.12144-2.23424V8.47052c0-1.03445,0.95271-1.85615,2.44762-1.85615c1.18294,0,2.25046,0.37809,3.31798,1.24845l0.75618-1.00201c-1.16672-0.93587-2.36588-1.41254-4.04109-1.41254c-2.18495,0-3.77843,1.33081-3.77843,3.13767v0.03244c0,1.88921,1.21601,2.74335,3.86016,3.3186c2.41517,0.50911,2.9898,1.11681,2.9898,2.18433v0.03307c0,1.13365-1.01823,1.95472-2.56242,1.95472c-1.59348,0-2.74335-0.54218-3.94251-1.62654l-0.80485,0.95334c1.3801,1.23161,2.87499,1.8393,4.69807,1.8393c2.28353,0,3.92567-1.2809,3.92567-3.25247v-0.03244C120.42963,12.23273,119.24731,11.29623,116.6849,10.73783zM127.9528,5.61237h-4.30376v11.49875h1.29774V13.0538h2.79202c2.44761,0,4.51777-1.28152,4.51777-3.76158V9.25915C132.25656,6.99247,130.54828,5.61237,127.9528,5.61237zM130.94197,9.3415c0,1.51112-1.24846,2.52935-3.15389,2.52935h-2.84131V6.81153h2.90745c1.85614,0,3.08775,0.85414,3.08775,2.49691V9.3415zM18.77845,6.54165c0.38683-0.38683,0.38683-1.01281,0-1.39964c-0.38679-0.38679-1.01281-0.38679-1.3996,0l-9.2369,9.2369c-1.31217,1.31217-3.44709,1.31217-4.75856,0.0007c-1.31213-1.31213-1.31213-3.44709,0-4.75922l7.43067-7.43067c0.38679-0.38683,0.38679-1.01281,0-1.39964c-0.38683-0.38679-1.01281-0.38679-1.39964,0L1.98376,8.22076c-2.08368,2.08372-2.08368,5.47477,0,7.55845c2.08372,2.08372,5.47411,2.08302,7.55779-0.00066L18.77845,6.54165zM5.06321,12.6998c0.38679,0.38679,1.01281,0.38679,1.3996,0l9.2369-9.2369c1.31213-1.31213,3.44709-1.31213,4.75856-0.0007c0.38679,0.38683,1.01281,0.38683,1.3996,0c0.38683-0.38679,0.38683-1.01277,0-1.3996c-2.08368-2.08372-5.47407-2.08302-7.55775,0.0007l-9.2369,9.2369C4.67638,11.68699,4.67638,12.31298,5.06321,12.6998zM24.93661,11.30021c-0.38679-0.38683-1.01281-0.38683-1.3996,0l-9.2369,9.2369c-1.31213,1.31213-3.44709,1.31213-4.75856,0.00066c-0.38679-0.38679-1.01281-0.38679-1.3996,0c-0.38683,0.38683-0.38683,1.01281,0,1.3996c2.08368,2.08372,5.47407,2.08302,7.55775-0.00066l9.2369-9.2369C25.32343,12.31298,25.32343,11.68699,24.93661,11.30021zM20.45826,8.22146l-9.2369,9.2369c-0.38683,0.38679-0.38683,1.01281,0,1.3996c0.38679,0.38683,1.01281,0.38683,1.3996,0l9.2369-9.2369c1.31217-1.31213,3.44709-1.31213,4.75856-0.00066c1.31213,1.31213,1.31213,3.44709,0,4.75922l-7.43067,7.43067c-0.38679,0.38679-0.38679,1.01281,0,1.3996c0.38683,0.38683,1.01281,0.38683,1.39964,0l7.43067-7.43067c2.08368-2.08368,2.08368-5.47473,0-7.55845C25.93233,6.13708,22.54194,6.13774,20.45826,8.22146z')
            .col-xl-5.col-lg-7.col-md-10.col-7.d-flex.justify-content-between.align-items-center
              .dropdown
                a.link.link--small.is--dropdown(href='#')
                  span.tour.is--active.hidden-sm-down(data-menu='tour') Tour
                  span.menu.is--active.hidden-md-up(data-menu='menu') Menu
                  svg.svg-caret-down.is-stroke.notranslate(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 25 13')
                    polyline(points='0 0 12.31 12.31 24.19 0')
                .dropdown__menu(data-drop='tour')
                  .dropdown__menu-caret
                  ul.dropdown__menu-list
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                .dropdown__menu(data-drop='menu')
                  .dropdown__menu-caret
                  ul.dropdown__menu-list
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Websites
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Our Customers
                    li.dropdown__menu-item
                      a.dropdown__menu-link(href='#') Our Customers
              a.link.link--small.hidden-sm-down(href='#') Our Customers
              a.link.link--small.hidden-sm-down(href='#') Support
              button.btn.btn--section.btn--header.hidden-sm-down
                | Create a Site
      section.section.main
        .container-fluid
          .row.no-gutters
            .col.col-xl-12
              .main__content.is--black
                .main__content--sub.text-center
                  h1.title.title--main.wow
                    | All you need to 
                    a.link--change(href='#') market yourself.
                  p.paragraph.paragraph--main.wow(data-animation-delay=".1s")
                    | From websites and online stores, to marketing tools and analytics, Squarespace is the all-in-one platform to build a beautiful online presence.
                  button.btn.btn--section.btn--main.wow(data-animation-delay=".2s") Start A Free Trial
                  h5.note.wow(data-animation-delay=".3s") No credit card required.
                .main__slider.swiper-container
                  .main__slider--wrapper.swiper-wrapper
                    .main__slider--slide.swiper-slide(data-bg='black', data-title='All you need to', data-link='measure success.')
                      img(src='http://dummyimage.com/1920x1080/000/000.gif', alt='placeholder+image')
                    .main__slider--slide.swiper-slide(data-bg='white', data-title='All you need to', data-link='sell online.')
                      img(src='http://dummyimage.com/1920x1080/fff/fff.gif', alt='placeholder+image')
                    .main__slider--slide.swiper-slide(data-bg='black', data-title='All you need to', data-link='market yourself.')
                      img(src='http://dummyimage.com/1920x1080/000/000.gif', alt='placeholder+image')
                    .main__slider--slide.swiper-slide(data-bg='white', data-title='All you need to', data-link='sell online.')
                      img(src='http://dummyimage.com/1920x1080/fff/fff.gif', alt='placeholder+image')
                  .swiper-pagination
      section.section.hero
        .container-fluid
          .row.no-gutters.align-items-center.justify-content-between
            .col-xl-5.col-lg-5.col-md-12.text-md-center.text-lg-left.col-12.text-left
              h2.title.title--section Trusted By The World's Best
            .col-xl-4.col-lg-3.col-md-12.text-md-center.text-lg-left.mt-4.mb-4.col-12.text-left
              p.paragraph.paragraph--section
                | Squarespace empowers people with creative ideas to succeed.
            .col.col-lg-3.d-flex.justify-content-lg-end.justify-content-md-center.col-md-12.col-12.text-lg-left.text-md-center.justify-content-center
              button.btn.btn--section.btn--white See All Stories
      section.section.team
        .container-fluid
          .row.no-gutters
            .col.col-xl-12
              .team__slider.swiper-container
                .team__slider--wrapper.swiper-wrapper
                  .team__slider--slide.swiper-slide
                    .team__slider--content
                      .team__slider--bg
                        img(src='img/slider/sadie-williams-500w.jpg', alt='placeholder+image')
                      .team__slider--direct
                        button.btn.btn--section See Sadie's Story
                    .team__slider--description
                      h2.title.title-slide Daniel Arsham
                      p.paragraph.paragraph-slide Artist
                  .team__slider--slide.swiper-slide
                    .team__slider--content
                      .team__slider--bg
                        img(src='img/slider/sadie-williams-500w.jpg', alt='placeholder+image')
                      .team__slider--direct
                        button.btn.btn--section See Sadie's Story
                    .team__slider--description
                      h2.title.title-slide Daniel Arsham
                      p.paragraph.paragraph-slide Artist
                  .team__slider--slide.swiper-slide
                    .team__slider--content
                      .team__slider--bg
                        img(src='img/slider/sadie-williams-500w.jpg', alt='placeholder+image')
                      .team__slider--direct
                        button.btn.btn--section See Sadie's Story
                    .team__slider--description
                      h2.title.title-slide Daniel Arsham
                      p.paragraph.paragraph-slide Artist
                  .team__slider--slide.swiper-slide
                    .team__slider--content
                      .team__slider--bg
                        img(src='img/slider/sadie-williams-500w.jpg', alt='placeholder+image')
                      .team__slider--direct
                        button.btn.btn--section See Sadie's Story
                    .team__slider--description
                      h2.title.title-slide Daniel Arsham
                      p.paragraph.paragraph-slide Artist
                  .team__slider--slide.swiper-slide
                    .team__slider--content
                      .team__slider--bg
                        img(src='img/slider/sadie-williams-500w.jpg', alt='placeholder+image')
                      .team__slider--direct
                        button.btn.btn--section See Sadie's Story
                    .team__slider--description
                      h2.title.title-slide Daniel Arsham
                      p.paragraph.paragraph-slide Artist
                  .team__slider--slide.swiper-slide
                    .team__slider--content
                      .team__slider--bg
                        img(src='img/slider/sadie-williams-500w.jpg', alt='placeholder+image')
                      .team__slider--direct
                        button.btn.btn--section See Sadie's Story
                    .team__slider--description
                      h2.title.title-slide Daniel Arsham
                      p.paragraph.paragraph-slide Artist
      section.section.desing
        .container-fluid
          .row.no-gutters.align-items-center
            .col-xl-7.col-lg-7.col-md-12.col-12.rellax(data-rellax-speed="1.3")
              .desing__bg.swiper-container
                .desing__bg-wrapper.swiper-wrapper
                  .desing__bg-slide.swiper-slide
                    img(src='img/bg/1.jpg', alt='')
                  .desing__bg-slide.swiper-slide
                    img(src='img/bg/4.jpg', alt='')
              .desing__slider.swiper-container
                .desing__slider-wrapper.swiper-wrapper
                  .desing__slider-slide.swiper-slide
                    .desing__slider-content
                      .desing__slider-photo
                        img(src='img/bg/2.jpg', alt='')
                      .desing__slider-direct
                        button.btn.btn--section View Templates
                  .desing__slider-slide.swiper-slide
                    .desing__slider-content
                      .desing__slider-photo
                        img(src='img/bg/3.jpg', alt='')
                      .desing__slider-direct
                        button.btn.btn--section View Templates
              .desing__nav.hidden-md-down
                button.desing__nav-link.desing--prev
                  svg(viewbox='0 0 100 100', xmlns='http://www.w3.org/2000/svg')
                    polyline(points='50 0 0 50 50 100')
                button.desing__nav-link.desing--next
                  svg(viewbox='0 0 100 100', xmlns='http://www.w3.org/2000/svg')
                    polyline(points='50 0 100 50 50 100')
            .col-xl-4.offset-xl-1.col-lg-4.offset-lg-1.text-xl-left.col-12.offset-0.text-center.text-lg-left.mt-lg-0.mt-5.wow
              p.paragraph.paragraph--subtitle Award-Winning Design
              h2.title.title--section.title--side
                | Look like an expert right from the start.
              p.paragraph.paragraph--section.is--left
                | Our award-winning templates are the most beautiful way to present your ideas online.
                | Stand out with a professional website, portfolio, or online store.
              .btns.d-flex.align-items-lg-center.align-items-center.justify-content-lg-start.justify-content-md-center.justify-content-center
                button.btn.btn--section.btn--white Get Started
                button.btn.btn--detail.is--left Learn More
                
      // DOMAIN
      section.section.domain
        .container-fluid
          .row.no-gutters.align-items-center.flex-row-reverse.justify-content-between
            .col-xl-6.offset-xl-1.col-lg-6.offset-lg-1.offset-0.rellax(data-rellax-speed="1.3")
              .photo.d-flex.justify-content-lg-end.col-12.offset-0.justify-content-center.pb-lg-5.pt-lg-5.pb-0.pt-5
                img.photo__front(src='img/domain.jpg', alt='')
            .col-xl-4.offset-xl-1.col-lg-4.offset-lg-1.col-12.offset-0.text-lg-left.text-center.text-lg-left.wow
              h2.title.title--section.title--side
                | A CUSTOM DOMAIN
              p.paragraph.paragraph--section.is--left
                | Personalizing your wedding website is easy with Squarespace. Every annual account includes a custom domain name.
      
      // MARKETING
      section.section.marketing
        .container-fluid
          .row.no-gutters.align-items-center
            .col-xl-7.col-lg-7.col-12.rellax(data-rellax-speed="1.3")
              .photo.d-flex.justify-content-lg-end.justify-content-md-center.justify-content-sm-end.justify-content-end
                img.photo__bg(src='img/1.jpg', alt='')
                img.photo__front(src='img/2.jpg', alt='')
            .col-xl-4.offset-xl-1.col-lg-4.offset-lg-1.col-12.offset-0.text-lg-left.text-center.wow
              p.paragraph.paragraph--subtitle Marketing Tools
              h2.title.title--section.title--side
                | Reach and grow your audience.
              p.paragraph.paragraph--section.is--left
                | Engage with your audience using our comprehensive set of marketing tools, from search to social to 
                a.text-link(href='/email-marketing') Squarespace Email Campaigns
                | . Creating a powerful communications strategy has never been easier.
              .btns.d-flex.align-items-lg-center.align-items-center.justify-content-lg-start.justify-content-md-center.justify-content-center
                button.btn.btn--section.btn--white Get Started
                button.btn.btn--detail.is--left Learn More
      
      // SUPPORT
      section.section.support
        .container-fluid
          .row.no-gutters.align-items-center.flex-row-reverse.justify-content-between
            .col-xl-6.col-lg-6.col-12.mb-lg-0.mb-5.rellax(data-rellax-speed="1.3")
              .photo.d-flex.justify-content-lg-end.justify-content-md-center
                img.photo__front.is--hover(src='img/3.jpg', alt='')
                img.photo__front.is--hover(src='img/4.jpg', alt='')
            .col-xl-4.offset-xl-1.col-lg-4.offset-lg-0.offset-md-0.col-12.offset-0.text-lg-left.text-center.wow
              p.paragraph.paragraph--subtitle ALL-IN-ONE PLATFORM
              h2.title.title--section.title--side
                | WE’VE GOT YOU COVERED.
              p.paragraph.paragraph--section.is--left
                | Think of Squarespace as your very own IT department, with free, unlimited hosting, top-of-the-line security, an enterprise-grade infrastructure, and around-the-clock support. Get personalized support from our Customer Care Team via email or live chat, or join a 
                a.text-link(href='/email-marketing') live webinar
                | . Reach out any time — we’re here 24/7.
              .btns.d-flex.align-items-lg-center.align-items-center.justify-content-lg-start.justify-content-md-center.justify-content-center
                button.btn.btn--section.btn--white Visit Help Center
                button.btn.btn--detail.is--left Learn More
      
    // FOOTER
    footer.footer
      .container-fluid
        .row.justify-content-lg-between.no-gutters.justify-content-center.flex-lg-row.flex-column-reverse
          .col-lg-2.mt-lg-0.mt-5.col-12.d-flex.flex-lg-column.flex-column.justify-content-lg-start.justify-content-center.align-items-lg-start.align-items-center
            a.link.link--logo.is--full.is--fill(href='/')
              svg.squarespace-mark.hidden-md-down.is-fill.notranslate(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 30 24', width='30px', height='24px')
                title Squarespace
                path(d='M24.93671,11.30019c-0.38681-0.38681-1.01281-0.38681-1.39961,0l-9.23691,9.23691c-1.31214,1.31214-3.44709,1.31214-4.75855,0.00068c-0.38681-0.38681-1.01281-0.38681-1.39961,0c-0.38681,0.38681-0.38681,1.01281,0,1.39961c2.0837,2.0837,5.47407,2.08302,7.55778-0.00068l9.2369-9.2369C25.32352,12.313,25.32352,11.687,24.93671,11.30019zM28.01613,8.22077c-2.0837-2.0837-5.47408-2.08302-7.55778,0.00068l-9.2369,9.2369c-0.38681,0.38681-0.38681,1.01281,0,1.39961c0.38681,0.38681,1.01281,0.38681,1.39961,0l9.2369-9.2369c1.31214-1.31214,3.4471-1.31214,4.75855-0.00068c1.31214,1.31214,1.31214,3.4471,0,4.75923l-7.43066,7.43066c-0.38681,0.38681-0.38681,1.01281,0,1.39961c0.38681,0.38681,1.01281,0.38681,1.39961,0l7.43066-7.43066C30.09984,13.69553,30.09984,10.30447,28.01613,8.22077zM21.85797,2.06261c-2.0837-2.0837-5.47408-2.08302-7.55778,0.00068l-9.2369,9.2369c-0.38681,0.38681-0.38681,1.01281,0,1.39961s1.01281,0.38681,1.39961,0l9.2369-9.2369c1.31214-1.31214,3.44709-1.31214,4.75855-0.00068c0.38681,0.38681,1.01281,0.38681,1.39961,0C22.24478,3.07541,22.24478,2.44941,21.85797,2.06261zM18.77855,5.14203c-0.38681-0.38681-1.01281-0.38681-1.39961,0l-9.2369,9.2369c-1.31214,1.31214-3.4471,1.31214-4.75855,0.00068c-1.31214-1.31214-1.31214-3.4471,0-4.75923l7.43066-7.43066c0.38681-0.38681,0.38681-1.01281,0-1.39961s-1.01281-0.38681-1.39961,0L1.98387,8.22077c-2.0837,2.0837-2.0837,5.47476,0,7.55846s5.47408,2.08302,7.55778-0.00068l9.2369-9.2369C19.16535,6.15484,19.16535,5.52884,18.77855,5.14203z')
              svg.squarespace-full.is--full.hidden-lg-up(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 168 24', width='168px', height='24px')
                title Squarespace
                path(d='M79.5626,5.53063l-5.24026,11.58048h1.33081l1.36326-3.03909h6.25848l1.34703,3.03909h1.39632L80.77798,5.53063H79.5626zM77.52551,12.88971l2.62856-5.84795l2.61171,5.84795H77.52551zM41.8326,10.73783c-2.52935-0.54218-3.12082-1.14987-3.12082-2.23424V8.47052c0-1.03445,0.95272-1.85615,2.44762-1.85615c1.18232,0,2.25046,0.37809,3.31798,1.24845l0.75556-1.00201c-1.1661-0.93587-2.36526-1.41254-4.0411-1.41254c-2.18433,0-3.77781,1.33081-3.77781,3.13767v0.03244c0,1.88921,1.21539,2.74335,3.86016,3.3186c2.41455,0.50911,2.9898,1.11681,2.9898,2.18433v0.03307c0,1.13365-1.01885,1.95472-2.56304,1.95472c-1.59285,0-2.74273-0.54218-3.94189-1.62654l-0.80485,0.95334c1.37947,1.23161,2.87437,1.8393,4.69745,1.8393c2.28353,0,3.9263-1.2809,3.9263-3.25247v-0.03244C45.57796,12.23273,44.39502,11.29623,41.8326,10.73783zM59.77015,11.36174V11.3293c0-3.17073-2.34904-5.91409-5.84795-5.91409s-5.88039,2.77642-5.88039,5.94653v0.03307c0,3.17011,2.34841,5.91346,5.84733,5.91346c1.41317,0,2.64477-0.45983,3.61434-1.21539l1.52734,1.36325l0.88721-0.96894l-1.51112-1.28152C59.26104,14.15438,59.77015,12.79113,59.77015,11.36174zM57.45418,14.40083L55.3023,12.4461l-0.87099,0.96894l2.15188,1.83992c-0.72249,0.54218-1.64277,0.85414-2.661,0.85414c-2.62793,0-4.53399-2.13566-4.53399-4.74737V11.3293c0-2.61233,1.87299-4.71492,4.50092-4.71492c2.62855,0,4.53399,2.13566,4.53399,4.74737v0.03307C58.42312,12.54468,58.07809,13.57913,57.45418,14.40083zM71.26765,12.29824c0,2.51313-1.34704,3.79465-3.46585,3.79465c-2.18494,0-3.51514-1.39632-3.51514-3.87701V5.61237h-1.29774v6.68587c0,3.25247,1.93788,4.99381,4.77981,4.99381c2.875,0,4.79665-1.74135,4.79665-5.09239V5.61237h-1.29774V12.29824zM150.96526,16.10911c-2.52997,0-4.45163-2.08637-4.45163-4.74737V11.3293c0-2.64477,1.90544-4.71492,4.45163-4.71492c1.56042,0,2.64478,0.65698,3.61372,1.57726l0.88721-0.95272c-1.14987-1.08436-2.39833-1.8237-4.4847-1.8237c-3.3835,0-5.8149,2.69406-5.8149,5.94653v0.03307c0,3.30176,2.44762,5.91346,5.76559,5.91346c2.08638,0,3.40034-0.80485,4.5995-2.02024l-0.85414-0.83792C153.57697,15.50141,152.5419,16.10911,150.96526,16.10911zM137.64406,5.53063l-5.24025,11.58048h1.3308l1.36327-3.03909h6.25848l1.34703,3.03909h1.39632l-5.24025-11.58048H137.64406zM135.60698,12.88971l2.62856-5.84795l2.61171,5.84795H135.60698zM159.83484,15.92817v-4.02425h6.2747v-1.18294h-6.2747V6.79531h7.01404V5.61237h-8.31178v11.49875h8.39352v-1.18294H159.83484zM102.27933,11.90392h6.27471v-1.18294h-6.27471V6.79531h7.01405V5.61237h-8.31179v11.49875h8.39352v-1.18294h-7.09579V11.90392zM97.54881,9.06199V9.02955c0-0.90343-0.3288-1.7089-0.88721-2.26731c-0.7225-0.72249-1.85614-1.14987-3.26868-1.14987h-4.94453v11.49875h1.29774v-4.46785h3.28554l3.3342,4.46785h1.59348l-3.53136-4.69808C96.23484,12.08486,97.54881,10.96743,97.54881,9.06199zM89.74613,11.47654V6.81153h3.5482c1.85615,0,2.94051,0.85414,2.94051,2.26731v0.03244c0,1.47868-1.23223,2.36526-2.95673,2.36526H89.74613zM116.6849,10.73783c-2.52998-0.54218-3.12144-1.14987-3.12144-2.23424V8.47052c0-1.03445,0.95271-1.85615,2.44762-1.85615c1.18294,0,2.25046,0.37809,3.31798,1.24845l0.75618-1.00201c-1.16672-0.93587-2.36588-1.41254-4.04109-1.41254c-2.18495,0-3.77843,1.33081-3.77843,3.13767v0.03244c0,1.88921,1.21601,2.74335,3.86016,3.3186c2.41517,0.50911,2.9898,1.11681,2.9898,2.18433v0.03307c0,1.13365-1.01823,1.95472-2.56242,1.95472c-1.59348,0-2.74335-0.54218-3.94251-1.62654l-0.80485,0.95334c1.3801,1.23161,2.87499,1.8393,4.69807,1.8393c2.28353,0,3.92567-1.2809,3.92567-3.25247v-0.03244C120.42963,12.23273,119.24731,11.29623,116.6849,10.73783zM127.9528,5.61237h-4.30376v11.49875h1.29774V13.0538h2.79202c2.44761,0,4.51777-1.28152,4.51777-3.76158V9.25915C132.25656,6.99247,130.54828,5.61237,127.9528,5.61237zM130.94197,9.3415c0,1.51112-1.24846,2.52935-3.15389,2.52935h-2.84131V6.81153h2.90745c1.85614,0,3.08775,0.85414,3.08775,2.49691V9.3415zM18.77845,6.54165c0.38683-0.38683,0.38683-1.01281,0-1.39964c-0.38679-0.38679-1.01281-0.38679-1.3996,0l-9.2369,9.2369c-1.31217,1.31217-3.44709,1.31217-4.75856,0.0007c-1.31213-1.31213-1.31213-3.44709,0-4.75922l7.43067-7.43067c0.38679-0.38683,0.38679-1.01281,0-1.39964c-0.38683-0.38679-1.01281-0.38679-1.39964,0L1.98376,8.22076c-2.08368,2.08372-2.08368,5.47477,0,7.55845c2.08372,2.08372,5.47411,2.08302,7.55779-0.00066L18.77845,6.54165zM5.06321,12.6998c0.38679,0.38679,1.01281,0.38679,1.3996,0l9.2369-9.2369c1.31213-1.31213,3.44709-1.31213,4.75856-0.0007c0.38679,0.38683,1.01281,0.38683,1.3996,0c0.38683-0.38679,0.38683-1.01277,0-1.3996c-2.08368-2.08372-5.47407-2.08302-7.55775,0.0007l-9.2369,9.2369C4.67638,11.68699,4.67638,12.31298,5.06321,12.6998zM24.93661,11.30021c-0.38679-0.38683-1.01281-0.38683-1.3996,0l-9.2369,9.2369c-1.31213,1.31213-3.44709,1.31213-4.75856,0.00066c-0.38679-0.38679-1.01281-0.38679-1.3996,0c-0.38683,0.38683-0.38683,1.01281,0,1.3996c2.08368,2.08372,5.47407,2.08302,7.55775-0.00066l9.2369-9.2369C25.32343,12.31298,25.32343,11.68699,24.93661,11.30021zM20.45826,8.22146l-9.2369,9.2369c-0.38683,0.38679-0.38683,1.01281,0,1.3996c0.38679,0.38683,1.01281,0.38683,1.3996,0l9.2369-9.2369c1.31217-1.31213,3.44709-1.31213,4.75856-0.00066c1.31213,1.31213,1.31213,3.44709,0,4.75922l-7.43067,7.43067c-0.38679,0.38679-0.38679,1.01281,0,1.3996c0.38683,0.38683,1.01281,0.38683,1.39964,0l7.43067-7.43067c2.08368-2.08368,2.08368-5.47473,0-7.55845C25.93233,6.13708,22.54194,6.13774,20.45826,8.22146z')
            .links.mt-lg-0.mt-4.d-flex.flex-lg-column.flex-row.align-items-lg-start.align-items-center.justify-content-lg-start.justify-content-center
              a.link.link--dropdown(href='#popup-code')
                span.link.link-content
                  span.currency-symbol $
                  span.currency-code USD
                svg.arrow-down-filled(viewbox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    polygon#Triangle-1(fill='#747474', transform='translate(7.500000, 4.500000) rotate(180.000000) translate(-7.500000, -4.500000) ', points='7.5 -1.70530257e-13 15 9 2.27373675e-13 9')
              a.link.link--dropdown(href='#popup-language')
                span.link.link-content
                  span.language-code English
                svg.arrow-down-filled(viewbox='0 0 15 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    polygon#Triangle-1(fill='#747474', transform='translate(7.500000, 4.500000) rotate(180.000000) translate(-7.500000, -4.500000) ', points='7.5 -1.70530257e-13 15 9 2.27373675e-13 9')
          .col-xl-9.col-lg-10.col-12.d-flex.justify-content-lg-between.align-items-lg-strech.flex-md-row.flex-column
            .footer__nav
              h3.title.footer__nav--title
                | Tour
                svg.arrow-down.hidden-md-up(viewbox='0 0 27 17.7')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M.5 3.9l13 12.9 13-12.9L23.6 1l-10 10-10-10L.5 3.9z')
              ul.footer__nav--list
                li.footer__nav--item
                  a.link.link--nav(href='#') Websites
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Online Stores
                li.footer__nav--item
                  a.link.link--nav(href='#') Marketing Tools
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
                li.footer__nav--item
                  a.link.link--nav(href='#') Professional Email
                li.footer__nav--item
                  a.link.link--nav(href='#') Logos
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
            // </div>
            // <div class="col-lg-2 col-md-auto">
            .footer__nav
              h3.title.footer__nav--title
                | Tour
                svg.arrow-down.hidden-md-up(viewbox='0 0 27 17.7')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M.5 3.9l13 12.9 13-12.9L23.6 1l-10 10-10-10L.5 3.9z')
              ul.footer__nav--list
                li.footer__nav--item
                  a.link.link--nav(href='#') Websites
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Online Stores
                li.footer__nav--item
                  a.link.link--nav(href='#') Marketing Tools
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
                li.footer__nav--item
                  a.link.link--nav(href='#') Professional Email
                li.footer__nav--item
                  a.link.link--nav(href='#') Logos
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
            // </div>
            // <div class="col-lg-2 col-md-auto">
            .footer__nav
              h3.title.footer__nav--title
                | Tour
                svg.arrow-down.hidden-md-up(viewbox='0 0 27 17.7')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M.5 3.9l13 12.9 13-12.9L23.6 1l-10 10-10-10L.5 3.9z')
              ul.footer__nav--list
                li.footer__nav--item
                  a.link.link--nav(href='#') Websites
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Online Stores
                li.footer__nav--item
                  a.link.link--nav(href='#') Marketing Tools
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
                li.footer__nav--item
                  a.link.link--nav(href='#') Professional Email
                li.footer__nav--item
                  a.link.link--nav(href='#') Logos
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
            // </div>
            // <div class="col-lg-2 col-md-auto">
            .footer__nav
              h3.title.footer__nav--title
                | Tour
                svg.arrow-down.hidden-md-up(viewbox='0 0 27 17.7')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M.5 3.9l13 12.9 13-12.9L23.6 1l-10 10-10-10L.5 3.9z')
              ul.footer__nav--list
                li.footer__nav--item
                  a.link.link--nav(href='#') Websites
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Online Stores
                li.footer__nav--item
                  a.link.link--nav(href='#') Marketing Tools
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
                li.footer__nav--item
                  a.link.link--nav(href='#') Professional Email
                li.footer__nav--item
                  a.link.link--nav(href='#') Logos
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
            // </div>
            // <div class="col-lg-2 col-md-auto">
            .footer__nav
              h3.title.footer__nav--title
                | Tour
                svg.arrow-down.hidden-md-up(viewbox='0 0 27 17.7')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M.5 3.9l13 12.9 13-12.9L23.6 1l-10 10-10-10L.5 3.9z')
              ul.footer__nav--list
                li.footer__nav--item
                  a.link.link--nav(href='#') Websites
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Online Stores
                li.footer__nav--item
                  a.link.link--nav(href='#') Marketing Tools
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
                li.footer__nav--item
                  a.link.link--nav(href='#') Professional Email
                li.footer__nav--item
                  a.link.link--nav(href='#') Logos
                li.footer__nav--item
                  a.link.link--nav(href='#') Domains
                li.footer__nav--item
                  a.link.link--nav(href='#') Email Marketing
    // </div>
    #popup-code(style='display: none;')
      .popup.popup__dropdown
        .popup__content
          h2.title.title-popup Select your currency
          ul.list__currency
            li.list__currency--item
              a.list__currency--link(href='#')
                span.symbol $
                span.code AUD
            li.list__currency--item
              a.list__currency--link(href='#')
                span.symbol $
                span.code AUD
            li.list__currency--item
              a.list__currency--link(href='#')
                span.symbol $
                span.code AUD
            li.list__currency--item
              a.list__currency--link(href='#')
                span.symbol $
                span.code AUD
    #popup-language(style='display: none;')
      .popup.popup__dropdown
        .popup__content
          h2.title.title-popup Select your language
          ul.list__currency
            li.list__currency--item
              a.list__currency--link(href='#')
                // <span class="symbol">$</span>
                span.code English
            li.list__currency--item
              a.list__currency--link(href='#')
                // <span class="symbol">$</span>
                span.code English
            li.list__currency--item
              a.list__currency--link(href='#')
                // <span class="symbol">$</span>
                span.code English
            li.list__currency--item
              a.list__currency--link(href='#')
                // <span class="symbol">$</span>
                span.code English
            li.list__currency--item
              a.list__currency--link(href='#')
                // <span class="symbol">$</span>
                span.code English
    script(src='js/vendor.js')
    script(src='js/main.js')
